Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Compress==1.15
Flask-Caching==2.1.0
Werkzeug==3.0.3
openai==1.51.2
stripe==11.1.0
python-dotenv==1.0.1
gunicorn==22.0.0
sib-api-v3-sdk==7.6.0
